<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FREELA"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MessageRightItemActivity"
            android:exported="false" />
        <activity
            android:name=".MessageItemActivity"
            android:exported="false" />
        <activity
            android:name=".chat_item"
            android:exported="false" />
        <activity
            android:name=".UpdateProposals"
            android:exported="false" />
        <activity
            android:name=".view.Orders"
            android:exported="false" />
        <activity
            android:name=".view.Proposal"
            android:exported="false" />
        <activity
            android:name=".view.UpdateCityUser"
            android:exported="false" />
        <activity
            android:name=".view.UpdateNameUser"
            android:exported="false" />
        <activity
            android:name=".view.UpdateSubCategories"
            android:exported="false" />
        <activity
            android:name=".view.EditUser"
            android:exported="false"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".view.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".view.CreateProposal"
            android:exported="false" />
        <activity
            android:name=".view.ProposalsDetails"
            android:exported="false" />
        <activity
            android:name=".view.CreateOrder"
            android:exported="false" />
        <activity
            android:name=".view.UserDetailsActivity"
            android:exported="false"
            android:theme="@style/AppThemeColor04" />
        <activity
            android:name=".view.BaseAuthenticatedActivity"
            android:exported="false" />
        <activity
            android:name=".view.OrderDetails"
            android:exported="false"
            android:theme="@style/AppThemeColorDetails" />
        <activity
            android:name=".view.activity_register_third"
            android:exported="false"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".view.activity_register_secund"
            android:exported="false"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".view.Register"
            android:exported="false"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".view.Chat"
            android:exported="false" />
        <activity
            android:name=".view.Login"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>